.formulaImg {
  max-width: 100%; /* Не позволяет изображению выходить за границы контейнера */
  height: auto; /* Сохраняет пропорции изображения */
  display: block; /* Убирает лишний отступ снизу, если это важно */
  margin-top: auto;
  margin-bottom: auto;
}